.card-detail small {
  text-transform: uppercase;
}

.column .column-headers {
  box-shadow: none;
  margin-bottom: 0;
}

.txn-feed {
  overflow-y: scroll;
  height: 60vh;
  padding: 15px;
}

.entry {
    -webkit-animation-name: animation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;


    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@-webkit-keyframes animation {
    0%     {background-color:red;}
    100.0%  {background-color:#ffffff;}
}

@keyframes animation {
    0%     {background-color:red;}
    100.0%  {background-color:#ffffff;}
}
