[submodule "amberdata-example-wallet"]
	path = amberdata-example-wallet
	url = https://github.com/amberdata/amberdata-example-wallet
[submodule "amberdata-example-dapp"]
	path = amberdata-example-dapp
	url = https://github.com/amberdata/amberdata-example-dapp
[submodule "amberdata-example-gas-station"]
	path = amberdata-example-gas-station
	url = https://github.com/amberdata/amberdata-example-gas-station
[submodule "amberdata-example-erc20-wallet"]
	path = amberdata-example-erc20-wallet
	url = https://github.com/amberdata/amberdata-example-erc20-wallet
[submodule "amberdata-example-top-tokens"]
	path = amberdata-example-top-tokens
	url = git@github.com:amberdata/amberdata-example-top-tokens.git
